.products {
    padding: 2em;
    text-align: center;
    background-color: #eeeff8;
    min-height: 90vh;
}

.products-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-top: 1.25em;
    margin: 0 13vw;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px) {
    .products-container {
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    .products-container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}