.cart-item-image-container {
    width: 6em;
}

.cart-item-image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cart-single-product-title {
    padding: 0 1em;
    font-size: 1.1em;
    flex-wrap: wrap;
    display: flex;
    text-align: left;
    align-items: center;
    line-height: 1.2em;
    width: 100%;
}

.plus,
.minus {
    background-color: #F7F7F7;
    border: 1px solid #088178;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    font-size: 1.2em;
    cursor: pointer;
}

.plus:hover,
.minus:hover {
    background-color: #088178;
    color: white;
}

.item-quantity {
    width: 2em;
    display: flex;
    height: 2em;
    justify-content: center;
    align-items: center;
}

#popup-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    background-color: white;
    text-align: center;
    padding: 2em;
    margin: 0 10em;
    gap: 1em;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#popup-screen span {
    text-align: center;
    font-size: 1.5em;
}

.popup-screen-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.popup-screen-buttons button {
    padding: 1em 2em;
    border-radius: 2em;
    border: none;
    background-color: #088178;
    color: white;
    height: 2.8em;
    width: 6em;
    cursor: pointer;
}

.popup-screen-buttons button:hover {
    background-color: #F7F7F7;
    color: #000;
    border: 1px solid #088178;
}

@media screen and (max-width: 950px) {
    #popup-screen {
        margin: 0 20vw;
    }

}

@media screen and (max-width: 760px) {
    .cart-single-product-title {
        padding: 0;
    }
}

@media screen and (max-width: 500px) {
    .cart-item-image-container {
        width: 4em;
    }

    .cart-single-product-title {
        font-size: 1em;
    }

    #popup-screen {
        margin: 2vh 20vw;
        font-size: 2em;
        padding: 4em 3em;
        gap: 2em;
        line-height: 1.2em;
        width: 100%;
    }

    .plus,
    .minus {
        height: 1.8em;
        width: 1.8em;
    }
}

    @media screen and (max-width: 375px) {
        #popup-screen {
            margin: 1vw;
            font-size: 2em;
            gap: 2em;
            line-height: 1.2em;
        }
    }

    @media screen and (max-width: 300px) {
        .cart-item-image-container {
            width: 3em;
        }
    }